.parent {
  display: grid;
  grid-template-columns: 0.5fr repeat(10, 1fr) 0.5fr;
  grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr repeat(7, 1fr) 0.5fr;  
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  overflow: auto;
  }
  
  .div1 { grid-area: 2 / 2 / 4 / 12;
  margin-bottom: 200px; }
  .div2 { grid-area: 5 / 2 / 12 / 12; 
  }

.App-header {
  grid-area: 2 / 2 / 4 / 12;
  margin-bottom: 200px;
  background-color: #282c34;
  min-height: 100vh;
  display:block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

