body {
    background: #F1F3FA;
  }
  .profile {
    margin: 20vh 0 20vh;
    display: flex;
    justify-content: center;
  }
  .profile-sidebar {
    padding:0 0 10px 0;
    background: #fff;
  }
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  } 
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  .profile-usertitle-name {
    color: black;
    font-size: 16px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-bottom: 7px;
  } 
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #10999b;
    font-size: 12px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-bottom: 15px;
  }
  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  } 
  .profile-userbuttons .btn {
    background-color: #ccc; 
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 20px 93px;
    margin-right: -1px;
    border: none;
  }
  .profile-userbuttons .btn:hover{
    background-color: #C71585;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    cursor: pointer;  
  }   
  .profile-usermenu {
    margin-top: 30px;
  }
  .profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  } 
  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  }
  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  } 
  .profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #10999b;
  }
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  .profile-usermenu ul li.active a {
    color: #10999b;
    background-color: #f6f9fb;
    border-left: 2px solid #10999b;
    margin-left: -2px;
  } 
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }
.profile-usertitle-name{
    font-size: 6vh;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}
.profile-usertitle-job{
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 4vh;
}
.powered{
    color:#C71585;
}